.aside .logo a::before
{
    border-top: 4px solid #ffb400;
    border-left: 4px solid #ffb400;
}
.aside .logo a::after
{
    border-right: 4px solid #ffb400;
    border-bottom: 4px solid #ffb400;
}
.contact .contact-info-item .icon .fa,
.blog .blog-item-inner .blog-info .blog-tags a,
.lightbox .lightbox-control .prev-item .fa,
.lightbox .lightbox-control .next-item .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa,
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active,
.service .serivce-item .service-item-linner .icon .fa,
.about .aobut-content .about-text h3 span,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active
{
    color: #ffb400;
}
.blog .blog-item-inner .blog-img .blog-data,
.service .serivce-item .service-item-linner:hover .icon,
.about .aobut-content .timeline .circle-dot,
.about .aobut-content .timeline .timeline-item::before,
.about .aobut-content .skills .skill-items .progress .progress-in,
.btn,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a

{
    background-color: #ffb400;
}

.portfolio .portfolio-filter button.active
{
    border-color: #ffb400;
}